*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.page-one,
.page-two {
  min-height: 100vh;
  background-color: #1b2631;
}
.text-large {
  color: #fefefe;
}
.btn {
  padding: 0.7em;
  border: none;
  background-color: #1abc9c;
  color: #1b2631;
  font-size: 1.15rem;
}
.btn__absolute {
  position: absolute;
  bottom: 0.75em;
  right: 0.75em;
}
.hidden__page {
  display: none;
}
